# Proyecto de Data Science y Machine Learning
------------------

## Reseñas de Disneyland - Clasificación y análisis de sentimientos

In [1]:
# Imports
import pandas as pd # Manipulación de datos
import matplotlib.pyplot as plt # Graficos
import seaborn as sns # Graficos
import nltk # Kit de herramientas de procesamiento de lenguaje natural.
nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\usuario\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [2]:
# Leemos los datos con el encoding adecuado y los almacenamos en una variable
data = pd.read_csv( "DisneylandReviews.csv", encoding = "latin-1" )

In [3]:
data.head(4)

,Review_ID,Rating,Year_Month,Reviewer_Location,Review_Text,Branch
0,670772142,4,2019-4,Australia,If you've ever been to Disneyland anywhere you...,Disneyland_HongKong
1,670682799,4,2019-5,Philippines,Its been a while since d last time we visit HK...,Disneyland_HongKong
2,670623270,4,2019-4,United Arab Emirates,Thanks God it wasn t too hot or too humid wh...,Disneyland_HongKong
3,670607911,4,2019-4,Australia,HK Disneyland is a great compact park. Unfortu...,Disneyland_HongKong

In [4]:
print('Número de filas en data: ', data.shape[0])

Número de filas en data:  42656

In [5]:
# Revisamos la información general de nuestro dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42656 entries, 0 to 42655
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Review_ID          42656 non-null  int64
 1   Rating             42656 non-null  int64
 2   Year_Month         42656 non-null  object
 3   Reviewer_Location  42656 non-null  object
 4   Review_Text        42656 non-null  object
 5   Branch             42656 non-null  object
dtypes: int64(2), object(4)
memory usage: 2.0+ MB

El dataset tiene 6 columnas, 2 de tipo entero y cuatro de tipo objeto


Reviews_de_Disneyland--Clasificacion_y_analisis_de_sentimientos